<!-- about.html -->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>About</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <p>This app compiles forecast data from <a href="https://open-meteo.com" target="_blank">Open Meteo</a> and returns the highest forecast snowfall from the top 50 US ski areas.</p>
    <p>This information is best used for last minute ski trips, or to let your friends know how much better your local spot is than theirs.</p>
    <div class="separation-block">
    </div>
    <a href="https://github.com/rymurray1/ski_area_snow_report" target="_blank">Explore the Github</a>
    <footer>
        <!-- Footer content -->
        <a href="/">HOME</a> | <a href="/about">ABOUT</a>
    </footer>
</body>
</html>

