<!-- index.html -->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Snow Report</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<h2>Daily Ski King of the Hill - {{ resort }}</h2>
<body>
    <p>The best resort to ski at this week is {{ resort }}.</p>
    <p>{{ resort }} can anticipate <strong>{{ snowfall }}</strong> inches of anticipated snow over the next 7 days.</p>
    <p>Along with the best snowfall in the country, you can also expect temperatures between <strong>{{ min_temp }}&deg;F</strong> and <strong>{{ max_temp }}&deg;F</strong> with high winds averaging <strong>{{ max_wind}}mph</strong>.</p>
    <p>{{ resort }} will also get some sun! You can expect <strong>{{ sunshine_hours }}</strong> hours of sun every day out of <strong>{{ daylight_hours }}</strong> daylight hours, that's <strong>{{ percent_sunny }}%</strong>!</p>
    <footer>
        <!-- Footer content -->
        <a href="/">HOME</a> | <a href="/about">ABOUT</a>
    </footer>
</body>
</html>
