<!-- index.html -->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Snow Report</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <p>The best resort to ski at this week is <strong>{{ max_resort }}</strong> with <strong>{{ max_snow_val }}</strong> inches of anticipated snow over the next 7 days.</p>
    
    <footer>
        <!-- Footer content -->
        <a href="/">HOME</a> | <a href="/about">ABOUT</a>
    </footer>
</body>
</html>
